html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    margin: 0;
}
header{
    padding: 12px;

    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
}
footer{
    background-color: burlywood;
    margin-top: 24px;
    padding: 24px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    align-items: center;
}
main{
    max-width: 800px;
    margin: auto;
}
input{
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
}
textarea{
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
    height: 100px;
}
button{
    padding: 12px;
    font-size: 110%;
}
.main-page-book-review{
    background-color: white;
    border: 1px solid lightblue;
    padding: 24px;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto ;
    grid-gap: 10px;

}
.book-cover{
    width: 200px;
    height: auto;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    
}
.book-title{
    font-weight: bold;
    font-size: 150%;

    grid-column: 2/3;
    grid-row-start: 0;
    grid-row-end: 1;
}
.book-rating{
    font-size: 125%;

    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.book-authors{
    color: dimgray;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.book-review-form{
    background-color: white;
    padding: 24px;
}
.item5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.item6{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
